@import '../../styles/variable.scss';
@import '../../styles/mixins.scss';

.breadcrumb-wrapper {
  position: relative;
  padding: 60px 0;
  background: url(../../assets/images/breadcrumb-bg.jpg);
  @include media-breakpoint-down($lg) {
    padding: 35px 0;
    display: none;
  }
  h3 {
    @include typography(40px, 800, 56px, $web-font, $color-dark-blue);
    margin: 0 0 8px;
    @include media-breakpoint-down($xl) {
      font-size: 32px;
      line-height: 42px;
      margin: 0;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      @include typography(16px, 500, 26px, $web-font, $color-grey);
      a {
        color: $color-grey;
      }
      &.separator {
        i {
          margin: 0 12px;
          font-size: 12px;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}